{% extends 'cart/base.html' %}
{% block title %}Contact Us{% endblock %}
{% block body %}
    <div class="container my-3">
      <h3>Contact us regarding any query</h3>
      <form action="/cart/Contact/" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">enter your name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="jitendra jangir">
        </div>
        <div class="form-group">
          <label for="mobile">Mobile no</label>
          <input type="number" class="form-control" name="mobile" id="mobile" placeholder="7976372379">
        </div>
        <div class="form-group">
          <label for="email">enter your email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="jitendrajangir1101@gmail.com">
        </div>
       
      
        <div class="form-group">
          <label for="desc">pleases tell your query</label>
          <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>





    </div>
  {% endblock %}