{% extends 'cart/base.html' %}
{% block title %}{{product.product_name}}{% endblock %}
{% block body %}
    <div class="container my-4">
      <div class="row">
      <div class="col-md-4">

      
      <div class="row">
        <img src="/media/{{product.image}}" width="227px" height="242px">
      </div>
      <div class="row">
        <button class="btn btn-primary mx-4">Buy Now</button>
        <button class="btn btn-primary">Add To Cart</button>
      </div>
    </div>
    <div class="col-md-8">
      <h5>{{product.product_name}}</h5>
      <p><b> MRP RS.{{product.price}}</b></p>
      <p>{{product.desc}}</p>
    </div>
  </div>
    </div>
  {% endblock %}
  {% block js %} 
  <script>
    if(localStorage.getItem('cart')==null){
      var cart = {};
    }
    else{
      cart = JSON.parse(localStorage.getItem('cart'));
      document.getElementById('cart').innerHTML=Object.keys(cart).length;
   }
    $('.cart').click(function(){
      
      var idstr = this.id.toString(); 
      if (cart[idstr] != undefined){
        cart[idstr]=cart[idstr]+1;
      }
      else{
        cart[idstr]=1;
      }
      localStorage.setItem('cart' , JSON.stringify(cart));
      document.getElementById('cart').innerHTML=Object.keys(cart).length;
    });
    
    $('#popcart').popover();
    document.getElementById("popcart").setAttribute("data-content" , "<h5>Cart</h5>");
  </script>
  
  {% endblock %}
